@import '../../core/vars';

.class {
    min-height: 800px;
    background-image: url('../../assets/backgrounds/ice.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    padding-top: 80px;
    color: $brown;



    .class-name {
        font-size: 48px;
        margin-bottom: 5px;
    }
    .instructor {
        font-size: 33px;
    }
    .time {
        font-size: 20px;
    }




    .quick-nav {
        position: fixed;
        background: white;
        border: 1px solid #ddd;
        top: 100px;
        transition: all .2s linear;
        height: 715px;
        width: 310px;
        overflow: hidden;
        white-space: nowrap;

        &.closed {
            width: 55px;
            height: 150px;

            .compass {
                display: block;
                margin-bottom: 2000px;
            }
            .nav-text {
                display: block;
                position: absolute;
                transform: rotate(90deg);
                font-size: 30px;
                top: 75px;
            }
            .close {
                display: none;
            }
        }

        h1 {
            text-align: left;
            padding-left: 28px;
        }

        .nav-icon {
            width: 35px;
            padding: 10px;
        }
        .compass, .nav-text {
            display: none;
        }
        .close {
            display: block;
            position: absolute;
            right: -6px;
            top: -6px;
            width: 18px;
        }


        .toc {
            display: block;
            text-align: left;
        }

        .filter-container {
            display: block;

            .filter {
                margin: 5px 20px;
                padding: 10px 8px;
                background: $gray;
                border-radius: 5px;
                cursor: pointer;

                &.selected {
                    background: $green;
                }
            }
        }
    }

    .contact {

        .line-header {
            background-color: $dark-gray;
        }
        .line {
            width: 100%;

            &:nth-child(even) {
                background-color: $gray;
            }
        }
        .detail {
            width: 17%;
            display: inline-block;
            padding: 10px 0px;
        }
    }

    .basic {
        text-align: left;
            
        h1, h2, h3 {
            text-align: center;
        }

        .root-list {
            padding: 0px 110px;
        }
    }

    .learning {
        text-align: left;
            
        h1, h2, h3 {
            text-align: center;
        }

        .line-header {
            background-color: $dark-gray;
            padding: 20px 3%;
            font-weight: 900;
        }

        .line {
            padding: 20px 3%;
            width: 94%;

            &:nth-child(even) {
                background-color: $gray;
            }
        }
        .detail0 {
            width: 56%;
        }
        .detail1 {
            width: 20%;
        }
        .detail2 {
            width: 20%;
        }
        .detail0, .detail1, .detail2  {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
        }
    }

    .syllabus {

        .line {
            padding: 20px 0px;

            &:nth-child(even) {
                background-color: $gray;
            }
        }

        .date {
            display: inline-block;
            border: 2px solid $brown;
            border-radius: 7px;
            width: 111px;
            margin-top: 6px;
        }

        .day {
            border-bottom: 2px solid black;
            padding: 4px 10px 3px 10px;
            background-color: $light-green;
        }
        .month {
            font-size: 12px;
        }
        .number {
            font-size: 40px;
        }

        .lecture-header {
            margin-bottom: 0px;
        }

        .topics {
            text-align: left;
            display: inline-block;
            width: 23%;
            margin-left: 50px;
            vertical-align: top;

            h3 {
                margin-top: 0px;
            }
        }

        .homeworks {
            display: inline-block;
            text-align: left;
            width: 23%;
            vertical-align: top;

            h3 {
                margin-top: 0px;
            }

            .homework {
                background-repeat: no-repeat;
                padding-left: 27px;
                margin-bottom: 7px;
                color: $brown;
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }
            .PAPER {
                background-image: url('../../assets/icons/contract.svg');
            }
            .WORKSHEET {
                background-image: url('../../assets/icons/pen.svg');
            }
            .READING {
                background-image: url('../../assets/icons/open-book.svg');
            }
        }

        .lab {
            text-align: left;
            display: inline-block;
            width: 29%;
            margin-left: 20px;
            vertical-align: top;

            h3 {
                margin-top: 0px;
            }
        }
        .test {
            display: inline-block;
            width: calc(74% + 50px);
            vertical-align: top;
        }
    }

    .resources {

        .resource {

        }

        a {
            background-repeat: no-repeat;
            text-align: left;
            padding-left: 30px;
            margin: auto;
            margin-bottom: 10px;
            display: inline-block;
            color: $brown;

            &.BOOK {
                background-image: url('../../assets/icons/open-book.svg');
            }
            &.PAPER {
                background-image: url('../../assets/icons/contract.svg');
            }
        }
    }


    .cta {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 301px;
    }

    .validator-error {
        width: 301px;
        text-align: center;

        @media only screen and (min-width: 600px) {
            width: 396px;
        }
        @media only screen and (min-width: 900px) {
            width: 496px;
        }
    }
    
    .submit-error {
        text-align: center;
        font-size: 12px;
    }

    .content-card .subinfo {
        padding: 0px 50px;
    }
    
}
