@import '../../core/vars';

.panel.homework {
    min-height: 800px;
    background-image: url('../../assets/backgrounds/ice.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    padding-top: 80px;
    color: $brown;

    .class-name {
        font-size: 48px;
        margin-bottom: 5px;
    }
    .instructor {
        font-size: 33px;
    }
    .time {
        font-size: 20px;
    }

    .homework-title {
        margin-bottom: 5px;
    }

    .assigned-text, .due-text {
        display: inline-block;
        padding: 0px 5px 30px 5px;

        .date {
            font-weight: 900;
        }
    }

    .desc {
        width: 90%;
        margin: auto;
    }
}
